﻿
@{
    ViewBag.Title = "Speed - Task 7";
}

<h2>Speed Kmph / Mph</h2>

@Html.ActionLink("Back", "Index", "Home", new { area = "" }, new { @class = "btn btn-warning" })
<br /><br />

<div><p>Write a C# Sharp program that takes distance and time as input and displays the speed in kilometers per hour and miles per hour.</p></div>

<div class="speed-form">
    <form method="POST">
        <div class="form-group">
            <label for="distance">Enter a distance (km):</label>
            <input class="form-control" type="number" id="distance" placeholder="Enter a distance" name="distance" step="0.001" required />
        </div>

        <div class="form-group">
            <label for="time">Enter time (hours):</label>
            <input class="form-control" type="number" id="time" placeholder="Enter time" name="time" step="0.001" required />
        </div>

        <button type="submit" class="btn btn-primary">Calculate</button>

    </form>
</div>

@{
    if (ViewBag.SpeedMph != null && ViewBag.SpeedKmph != null)
    {
        <div class="result bg-info">
            <h5>Result:</h5>
            <p>Distance (km): @Html.Raw(ViewBag.SpeedDistance)</p>
            <p>Time (hours): @Html.Raw(ViewBag.SpeedTime)</p>
            <p>Miles per hour: @Html.Raw(String.Format($"{ViewBag.SpeedMph:0.###} m/h"))</p>
            <p>Kilometers per hour: @Html.Raw(String.Format($"{ViewBag.SpeedKmph:0.###} km/h"))</p>
        </div>
    }
}