﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.tasks {
    padding: 20px 0;
}

.tasks h4 {
    font-weight: 700;
}

.result {
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: #9E9E9E 3px 3px 10px;
}

.result h5 {
    font-weight: 700;
}
