﻿@{
    ViewBag.Title = "Login - Task 3";
}

<h2>Login</h2>

@Html.ActionLink("Back", "Index", "Home", new { area = "" }, new { @class = "btn btn-warning" })
<br /><br />

<div><p>Write a C# Sharp program that takes userid and password as input (type string). After 3 wrong attempts, user will be rejected.</p></div>
<div class="login-form">
    <form method="POST">
        <div class="form-group">
            <label for="info">Use <i style="font-weight:400">test / password</i></label>
        </div>

        <div class="form-group">
            <label for="username">Enter an username:</label>
            <input class="form-control" type="text" id="username" placeholder="Enter an username" name="username" required />
        </div>

        <div class="form-group">
            <label for="password">Enter a passowrd:</label>
            <input class="form-control" type="text" id="password" placeholder="Enter a password" name="password" required />
        </div>

        <!-- <input type="submit" class="btn btn-default" /> -->
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

@{
    if (ViewBag.LoginUsername != null && ViewBag.LoginPassword != null && ViewBag.LoginRejected != null)
    {
        if (ViewBag.LoginRejected)
        {
            <br />
            <div class="result bg-danger">
                <h5>You were rejected</h5>
            </div>
            <br />
            @Html.ActionLink("Reload", "Index", "Login", new { @class = "btn btn-primary" })
            <style>
                .login-form {
                    display: none;
                }
            </style>
        }
        else
        {
            <div class="result bg-info">
                <h5>Result:</h5>
                @Html.Raw("Username: " + ViewBag.LoginUsername + " Password: " + ViewBag.LoginPassword)
            </div>
            <style>
                .login-form {
                    display: inline-block;
                }
            </style>
        }
    }
}
