﻿@{
    ViewBag.Title = "List of tasks";
}

<div class="row">
    <div class="col-md-12">
        <h2>List of tasks:</h2>
        <div class="col-md-12 tasks">
            <h4>Task 1</h4>
            <p>Write a C# Sharp program that takes three letters as input and display them in reverse order.</p>
            <p>@Html.ActionLink("See solution", "Index", "Reverse")</p>
        </div>
        <div class="col-md-12 tasks">
            <h4>Task 2</h4>
            <p>Write a C# Sharp program that takes a number and a width also a number,as input and then displays a triangle of that width, using that number.</p>
            <p>@Html.ActionLink("See solution", "Index", "Tree")</p>
        </div>
        <div class="col-md-12 tasks">
            <h4>Task 3</h4>
            <p>Write a C# Sharp program that takes userid and password as input (type string). After 3 wrong attempts, user will be rejected.</p>
            <p>@Html.ActionLink("See solution", "Index", "Login")</p>
        </div>
        <div class="col-md-12 tasks">
            <h4>Task 4</h4>
            <p>Write a C# Sharp program that takes two numbers as input and perform an operation (+,-,*,x,/) on them and displays the result of that operation.</p>
            <p>@Html.ActionLink("See solution", "Index", "Calculator")</p>
        </div>
        <div class="col-md-12 tasks">
            <h4>Task 5</h4>
            <p>Write a C# Sharp program that takes the radius of a circle as input and calculate the perimeter and area of the circle.</p>
            <p>@Html.ActionLink("See solution", "Index", "CirclePerimeter")</p>
        </div>
        <div class="col-md-12 tasks">
            <h4>Task 6</h4>
            <p>Write a C# Sharp program to display certain values of the function x = y <sup>2</sup>  + 2 * y + 1 (using integer numbers for y , ranging from -5 to +5).</p>
            <p>@Html.ActionLink("See solution", "Index", "Function")</p>
        </div>
        <div class="col-md-12 tasks">
            <h4>Task 7</h4>
            <p>Write a C# Sharp program that takes distance and time as input and displays the speed in kilometers per hour and miles per hour.</p>
            <p>@Html.ActionLink("See solution", "Index", "Speed")</p>
        </div>
        <div class="col-md-12 tasks">
            <h4>Task 8</h4>
            <p>Write a C# Sharp program that takes the radius of a sphere as input and calculate and display the surface and volume of the sphere.</p>
            <p>@Html.ActionLink("See solution", "Index", "SphereVolume")</p>
        </div>
        <div class="col-md-12 tasks">
            <h4>Task 9</h4>
            <p>Write a C# Sharp program that takes a character as input and check the input (lowercase) is a vowel, a digit, or any other symbol.</p>
            <p>@Html.ActionLink("See solution", "Index", "CharacterCheck")</p>
        </div>
        <div class="col-md-12 tasks">
            <h4>Task 10</h4>
            <p>Write a C# Sharp program that takes two numbers as input and returns true or false when both numbers are even or odd.</p>
            <p>@Html.ActionLink("See solution", "Index", "EvenOddNumbersCheck")</p>
        </div>
        <div class="col-md-12 tasks">
            <h4>Task 11</h4>
            <p>Write a C# Sharp program that takes a decimal number as input and displays its equivalent in binary form.</p>
            <p>@Html.ActionLink("See solution", "Index", "DecimalToBinaryConvert")</p>
        </div>      
    </div>
</div>