﻿@{
    ViewBag.Title = "Tree - Task 2";
}

<h2>Tree</h2>

@Html.ActionLink("Back", "Index", "Home", new { area = "" }, new { @class = "btn btn-warning" })
<br /><br />

<div><p>Write a C# Sharp program that takes a number and a width also a number, as input and then displays a triangle of that width, using that number.</p></div>

<div class="reverse-form">
    <form method="POST">
        <div class="form-group">
            <label for="number">Enter a number:</label>
            <input class="form-control" type="number" id="number" placeholder="Enter a number" name="number" max="10" />
        </div>
        <div class="form-group">
            <label for="width">Enter the desired width:</label>
            <input class="form-control" type="number" id="width" placeholder="Enter the desired width" name="width" max="10" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@{
    if (ViewBag.TreeNumber != null && ViewBag.TreeWidth != null)
    {
        <div class="result bg-info">
            <h5>Result:</h5>
            @for (var i = ViewBag.TreeWidth; i > 0; i--)
            {
                <p>
                    @for (var j = i; j > 0; j--)
                    {
                        @Html.Raw(ViewBag.TreeNumber)
                    }
                </p>
            }
        </div>
    }
}
