﻿
@{
    ViewBag.Title = "DecToBin - Task 11";
}

<h2>Decimal to Binary</h2>

@Html.ActionLink("Back", "Index", "Home", new { area = "" }, new { @class = "btn btn-warning" })
<br /><br />

<div><p>Write a C# Sharp program that takes a decimal number as input and displays its equivalent in binary form.</p></div>


<div class="decimalToBinary-form">
    <form method="POST">
        <div class="form-group">
            <label for="digit">Enter a digit (decimal):</label>
            <input class="form-control" type="number" id="digit" placeholder="Enter a digit (decimal)" name="digit" step="0.0001" required />
        </div>

        <button type="submit" class="btn btn-primary">Convert to Binary</button>
    </form>
</div>

@{
    if (ViewBag.DecimalToBinaryConvertResultIntPart != null)
    {
        <div class="result bg-info">
            <h5>Result:</h5>
            <p>Your digit: @Html.Raw(ViewBag.DecimalToBinaryConvertValue)</p>

            <p>
                In Binary format:
                @Html.Raw(ViewBag.DecimalToBinaryConvertResultIntPart).@Html.Raw(ViewBag.DecimalToBinaryConvertResultDecimalPart)
            </p>
        </div>
    }
}
