﻿
@{
    ViewBag.Title = "Reverse - Task 1";
}

<h2>Reverse string</h2>

@Html.ActionLink("Back", "Index", "Home", new { area = "" }, new { @class = "btn btn-warning" })
<br /><br />

<div><p>Write a C# Sharp program that takes three letters as input and display them in reverse order.</p></div>

<div class="reverse-form">
    <form method="POST">
        <div class="form-group">
            <label for="letters">Enter three letters:</label>
            <input class="form-control" type="text" id="letters" placeholder="Your 3 letters" name="letters" maxlength="3" />
        </div>
        <!-- <input type="submit" class="btn btn-default" /> -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@{
    if (ViewBag.ReversedLetters != null)
    {
        <div class="result bg-info">
            <h5>Result:</h5>
            <p>
                @foreach (var letter in ViewBag.ReversedLetters)
                {
                    @Html.Raw(@letter)
                }
            </p>
        </div>
    }
}
